.home-page {
  min-height: 100vh;
  background-color: #fbfbfb;
  width: 100%;
  overflow-x: hidden; /* Запрещаем горизонтальный скролл */
}

.home-main {
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 25px;
  padding-bottom: 25px;
  
  /* width: 100%; */
}

.home-content {
  flex-grow: 1;
  display: flex;
  
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 125px; 
  width: 100%;
    position: relative;
    margin: 0 auto;
}

  @media screen and (min-width: 1100px) {
    .home-content {
    flex-direction: row;
    gap: 125px;
  }

  .home-main {
    padding: 78px 128px; 
  
}
}

.home-left {
  max-width: 595px; 
  order: 1;
  padding: 48px 0 40px 0; /* Всегда сверху на мобильных */
}

.home-title {
  font-weight: 600;
  font-size: 50px;
  line-height: 1.03;
  color: #191a15;
  margin-bottom: 20px; /* 48px в rem */
}

  @media screen and (min-width: 768px) {
    .home-title {
      font-size: 80px;
      line-height: 1.03;
    }
  }



/* ТОЛЬКО слово depths синее */
.depths-blue {
  font-style: italic;
  color: #3470ff;
}

.home-description {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  color: #191a15;
  margin-bottom: 40px; 
  max-width: 510px 
}


.btn-get-started {
  
  width: 235px;
  height: 60px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #fbfbfb;
  background-color: #3470ff;
  border-radius: 50px;
  border: none;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 18px;
  transition: background-color 0.3s ease;
  svg {
    width: 16px;
    height: 16px;
    fill: #fbfbfb;
  }
}

.btn-get-started:hover {
  background-color: #255ee8;;
}

.home-right {
  width: 100%;
  /* height: 526px;  */
  /* display: flex; */
  /* justify-content: center; */
  order: 2; /* Всегда снизу на мобильных */
  
}

.image-container {
  position: relative;
  /* width: 464px;  */
  height: 526px; 
  margin: 0 auto;
     width: 100%;
  background-image: url('/src/assets/images/hero@1x.jpg');
  /* box-sizing: border-box; */
  /* background-repeat: no-repeat; */
  background-position: center bottom;
  background-size: cover;
  border-radius: 10px;
}

   @media (min-device-pixel-ratio: 2),      /* для айфонов и тд */
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/src/assets/images/hero@2x.jpg');
  }

/* .main-image {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #f3f3f3 0%, #e0e0e0 100%);
   10px в rem
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666666;
  font-size: 18px; 
} */

.green-square {
  position: absolute;
  width: 40px;
  height: 40px;
  transform: rotate(-15deg);
  border-radius: 10px;
  background: #54be96;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 30%;
  left: -7%;
  z-index: 1;
  svg {
    width: 9px;
    height: 15px;
    fill: #fbfbfb;
  }
}

  /* @media screen and (max-width: ${theme.breakpoint.tablet}) {
    left: 0%;
  } */


.yellow-square {
  position: absolute;
  width: 48px;
  height: 48px;
  transform: rotate(15deg);
  border-radius: 10px;
  background: rgb(251, 199, 94);
  display: flex;
  justify-content: center;
  align-items: center;
  right: -8%;
  top: 9%;
   z-index: 1;
  svg {
    width: 20px;
    height: 20px;
    fill: #fbfbfb;
    transform: rotate(-15deg);
    
  }
}

  /* @media screen and (max-width: ${theme.breakpoint.tablet}) {
    right: 0%; */

.blue-card {
  position: absolute;
  top: 65%;
  left: -20%;
  max-width: 311px;
  width: 100%;
  max-height: 118px;
  background-color: #3E85F3;
  border-radius: 20px;
  padding: 32px; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px; 
  z-index: 2;
}

  /* @media screen and (max-width: 768px) {
    left: 0%;
  } */

.card-icon {
  width: 54px;
  height: 54px;
  background-color: #ffffff;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  svg {
    width: 22px;
    height: 15px;
    fill:  #3470ff;
    
  }
}


.card-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-title {
  font-size: 14px; /* 18px в rem */
  font-weight: 400;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 0.25rem; /* 4px в rem */
}

.card-number {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
}


/* @media (min-width: 64rem) { 
  .home-content {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .home-left {
    order: 1;
    padding-top: 3rem; 
  }
  
  .home-right {
    order: 2;
  }
}


@media (max-width: 48rem) { 
  .green-square,
  .yellow-square,
  .blue-card {
    display: none;
  }
  
  .image-container {
    width: 100%;
    max-width: 29rem; 
    height: 25rem; 
  }
} */